:root {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
}

header {
    margin-bottom: 1em;
}

.bold {
    font-weight: 425;
}

.heading {
    padding: .5rem;
    padding-left: 0;
    padding-bottom: .3rem;
}

.very-small {
    font-size: 0.75rem;
}

.medium {
    font-size: 1.3rem;
}

.large {
    font-size: 1.5rem;
}

img.findme {
    width: 78px;
    height: 23px;
}

ul, li, img {
    /* border: solid 1px red; */
}

ul.container {
    align-items: center;
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: .5em .25em;
    justify-content: flex-start;
    
}

div.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

article {
    max-width: 800px;
    padding: 1em;
    border: solid 1px lightgrey;
    border-radius: .25em;
    margin: 2em auto;
}

main {
    max-width: 50%;
}

figure.octocat {
    max-width: 35%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

img.octocat {
    /* object-fit: cover; */
    /* max-height: 375px;
    max-width: 200px; */
}

figcaption.octocat {
    /* width: 50%; */
}